<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billy Duke - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/FooterStyle.css")
    @Styles.Render("~/Content/HeadStyle.css")
    @Styles.Render("~/Content/fontes/fontes.css")
    @*<style>
            nav li {
                padding: 0px 8px;
                !important
            }

            .opt_genero {
                padding: 24px 0px 0px 0px;
                !important
            }
        </style>*@
</head>
<body>
    <header>
        <nav>
            <div class="nav-row logo-row">
                <div class="blank"></div>
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Image/ImagemAuxiliarProjeto/logoextenso.png" alt="Logo do site">
                    </a>
                </div>
                <div class="logo1">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Image/ImagemAuxiliarProjeto/logo.png" alt="Logo do site">
                    </a>
                </div>
                <div class="itens">
                    <div class="item">
                        <a href="">
                            <img src="~/Content/Image/ImagemAuxiliarProjeto/lupa.png" alt="Ícone de pesquisa">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="~/Content/Image/ImagemAuxiliarProjeto/pessoa.png" alt="Ícone de perfil">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="~/Content/Image/ImagemAuxiliarProjeto/coracao.png" alt="Ícone de favorito">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="~/Content/Image/ImagemAuxiliarProjeto/bolsa.png" alt="Ícone de carrinho">
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-row genders-row">
                <a href="@Url.Action("Index", "Products", new { genero = "masculino" })">Masculino</a>
                <a href="@Url.Action("Index", "Products", new { genero = "feminino" })">Feminino</a>
            </div>
        </nav>
    </header>

    @RenderBody()
    <footer class="custom-footer">
        <div class="store-name">Pegada Chave</div>
        <div class="footer-columns">
            <div class="footer-column">
                <h4>AJUDA</h4>
                <ul>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                    <li><a href="#">Compra</a></li>
                </ul>
            </div>
            <div class="footer-column footer-item">
                <h4>PRIVACIDADE E LEGALIDADES</h4>
                <ul>
                    <li><a href="#">Políticas de Privacidade</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Código de Ética</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>DOAÇÕES</h4>
                <p class="no-margin-bottom">Insira seu e-mail de contato:</p>
                <div class="custom-input">
                    <input type="text" placeholder="E-mail">
                    <span class="custom-submit-icon">&#62;</span>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>