<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/FooterStyle.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="">
        @RenderBody()
        <hr />
        <footer class="custom-footer">
            <div class="store-name">Pegada Chave</div>
            <div class="footer-columns">
                <div class="footer-column">
                    <h4>AJUDA</h4>
                    <ul>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Perguntas Frequentes</a></li>
                        <li><a href="#">Compra</a></li>
                    </ul>
                </div>
                <div class="footer-column footer-item">
                    <h4>PRIVACIDADE E LEGALIDADES</h4>
                    <ul>
                        <li><a href="#">Políticas de Privacidade</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Código de Ética</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>DOAÇÕES</h4>
                    <p class="no-margin-bottom">Insira seu e-mail de contato:</p>
                    <div class="custom-input">
                        <input type="text" placeholder="E-mail">
                        <span class="custom-submit-icon">&#62;</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
