@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/HomeStyle.css")
</head>

<body>
    <main class="">
        <div id="carouselExample" class="carousel slide carousel-fade">
            <div class="carousel-inner teste1">
                <div class="carousel-item active">
                    <img src="~/Content/Image/ImagemAuxiliarProjeto/HOME/Home01G.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block">
                        <h5 class="chamadabotao">A Favela Venceu</h5>
                        <button type="button" class="btn btn-secondary btn-lg botaohome"><a class="verMais" href="@Url.Action("Index", "Products")">VER MAIS</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Content/Image/ImagemAuxiliarProjeto/HOME/Home02G.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block">
                        <h5 class="chamadabotao">Vista-se com Atitude</h5>
                        <button type="button" class="btn btn-secondary btn-lg botaohome"><a class="verMais" href="@Url.Action("Index", "Products")">VER MAIS</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Content/Image/ImagemAuxiliarProjeto/HOME/Home07G.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block">
                        <h5 class="chamadabotao">Ostente Seu Estilo Único</h5>
                        <button type="button" class="btn btn-secondary btn-lg botaohome"><a class="verMais" href="@Url.Action("Index", "Products")">VER MAIS</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Content/Image/ImagemAuxiliarProjeto/HOME/Home03G.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block">
                        <h5 class="chamadabotao">O Gueto Ostenta</h5>
                        <button type="button" class="btn btn-secondary btn-lg botaohome"><a class="verMais" href="@Url.Action("Index", "Products")">VER MAIS</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Content/Image/ImagemAuxiliarProjeto/HOME/Home04G.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block">
                        <h5 class="chamadabotao">Roupas que Falam por nós</h5>
                        <button type="button" class="btn btn-secondary btn-lg botaohome"><a class="verMais" href="@Url.Action("Index", "Products")">VER MAIS</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Content/Image/ImagemAuxiliarProjeto/HOME/Home05G.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block">
                        <h5 class="chamadabotao">Moda de Quebrada</h5>
                        <button type="button" class="btn btn-secondary btn-lg botaohome"><a class="verMais" href="@Url.Action("Index", "Products")">VER MAIS</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Content/Image/ImagemAuxiliarProjeto/HOME/Home06G.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block">
                        <h5 class="chamadabotao">Estilo nas Ruas e Poder no Visual</h5>
                        <button type="button" class="btn btn-secondary btn-lg botaohome"><a class="verMais" href="@Url.Action("Index", "Products")">VER MAIS</a></button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </main>

</body>

</html>