@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Produtos";
}
<head>
    @Styles.Render("~/Content/ProductStyle.css")
</head>

<body>

    <div class="container-fluid">
        <!-- Título da página -->
        <div class="row mb-5" style="margin-bottom: 100px !important">
            <div class="col-md-6">
                <h3 style="padding-left: 20%">@Model.Count PRODUTOS</h3>
            </div>
            <div class="col-md-6 d-flex justify-content-end" style="padding-right: 10%">
                <a class="header-product">FILTRAR</a>
                <!-- O botão de ordenar recebe do Controller a variável sortOrder e adequa o ícone para o tipo definido -->
                <a class="header-product" href="@Url.Action("Index", "Products", new { sortOrder = ViewBag.SortOrder })">
                    @if (ViewBag.SortOrder == "preco_asc")
                    {
                        @:ORDENAR $↓
                    }
                    else if (ViewBag.SortOrder == "preco_desc")
                    {
                        @:ORDENAR $↑
                    }
                    else
                    {
                        @:ORDENAR
                    }
                </a>
            </div>
        </div>

        <!-- Lista de produtos -->
        <div class="row d-flex justify-content-center" style="margin-left: 0px !important; margin-right: 0px !important">
            @foreach (var produto in Model)
            {
                <div class="col-md-4">
                    <div class="product text-center">
                        <img src="@Url.Content(produto.ImagemProduto)" alt="Produto" width="323" height="419" class="mx-auto my-3">
                        <h4>@produto.NomeProduto</h4>
                        <p>Preço: $@produto.PrecoProduto</p>
                    </div>
                </div>
            }
        </div>

        <!-- Botão "VER MAIS" -->
        <div class="text-center">
            <a id="ver-mais" href="#" class="ver-mais-link" style="col">Ver Mais</a>
        </div>
    </div>
</body>
